/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

:root {
  --green: #1aac83;
  --red: #DF8E8E;
  --blue: #42ACB3;
  --white: #FAFAFA;
  --black: #404040;
  --grey: rgb(237, 237, 237);
  --error: #df4f4f;
}

body{
  background-color: var(--white);
  margin: 0;
  font-family: "Poppins";
}

/* Navbar */
header .navbar {
  background-color: var(--red);
  margin: 0;
  padding: 0px 40px;
  display: flex;
  justify-content: space-between;
}
header a {
  color: var(--white);
  text-decoration: none;
  /* height: 100px; */
}
header .navbar h1{
  display: flex;
  align-items: center;
}
header img{
  max-height: 60px;
  width: auto;
  padding-right: 20px;
}
nav {
  display: flex;
  align-items: center;
}
nav a {
  margin-left: 20px;
}
nav button {
  background: #fff;
  color: var(--blue);
  border: 2px solid var(--blue);
  padding: 6px 25px;
  border-radius: 30px;
  font-family: "Poppins";
  cursor: pointer;
  font-size: 1em;
  margin-left: 20px;
}


/* Login Signup */
label, input {
  display: block;
}
input, select, option {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
form button {
  background: var(--blue);
  border: 0;
  width: 50%;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  align-content: center;
}
form.signup, form.login {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background: #fff;
  border-radius: 4px;
}
form h2, form h4{
  text-align: center;
}
form a{
  text-decoration: none;
  color: var(--blue);
}
form .btn{
  display: flex;
  align-items: center;
  justify-content: center;
}


/* Landing  Hero section*/
.Hero{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  justify-content: center;
  padding: 20px 160px;
}
.Hero .right img{
  height: 100%;
  width: auto
}
.Hero .left, .Hero .right{
  margin-top: 40px;
}
.Hero .left p{
  font-size: 250%;
  font-weight: bold;
  color: var(--black);
  margin-top: 0%;
  padding-top: 0%;
}
.Hero .left .title p{
  color : var(--blue);
  margin-bottom: 0%;
  padding-bottom: 0%;
  font-size: 50px;
}
.Hero .left button {
  background: var(--blue);
  border: 0;
  color: #fff;
  padding: 10px 40px;
  font-family: "Poppins";
  border-radius: 30px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  font-size: large;
  margin-right: 30px;
}
.Hero .left .login{
  background: var(--white);
  color: var(--blue);
  border: 1px solid var(--blue);
}
.Hero .login::on-hover, .Hero .signup::on-hover{
  background: var(--red);
  color: var(--white);
}

/* Landing PS and Landing Logos*/
.PS-container, .Logo-container{
  margin-top: 30px;
  display: flex;
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */
}
.PS-container .PS{
  display: inline-block;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.PS-container .title, .Logo-container .title{
  color: var(--black);
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}
.PS-container .content{
  font-size: 25px;
  background-color: rgb(237, 237, 237);
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  margin-bottom: 30px;
}
.Logo .Logos img{
  height: 108px;
  width: auto;
  padding: 20px;
  background-color: rgb(237, 237, 237);
  margin: 10px;
  border-radius: 20px;
}
.Logo-container .Logo{
  display: inline-block;
  justify-content: center;
  align-items: center;
  width: 70%;
}
.Logo-container .Logos{
  text-align: center;
}

/* Landing Footer */
footer{
  padding: 80px;
  background-color: var(--blue);
  opacity: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Scrolling div in Home */
.scroll-div{
  width: 100%;
  background-color: var(--blue);
  padding: 10px 0;
  margin: 10px 0;
}
.scroll-content {
  display: inline-flex;
  width: 700px;
  color: var(--white);
  animation: scrollText 10s linear infinite;
  white-space: nowrap;
}
@keyframes scrollText {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* Home */
.home {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  justify-content: center;
}

.map-wrap, .defaulter-wrap, .vehicle-wrap {
  background: #D9D9D9;
  width: auto;
  height: 520px;
  margin: 10px;
  padding: 10px;
  margin-right: 50px;
  text-align: center;
}
.map-wrap .heading, .defaulter-wrap .heading, .vehicle-wrap .heading{
  font-size: large;
  font-family: "Poppins";
  background-color: #DF8E8E;
  width: 100%;
  padding: 2px;
  color:aliceblue;
}
.map-wrap .map{
  height: fit-content;
  width: auto;
}

/* Admin Dashboard */
.admin-container .dashboard{
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px;
  justify-content: center;
  margin: 10px 50px
}
.admin-container .title{
  display: flex;
  justify-content: space-between;
  margin: 0 7% 0 40%;
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
  padding: 10px;
}
.admin-container .left .content{
  background-color: var(--blue);
  color: var(--white);
  text-align: center;
  margin: 10px 20px;
  padding: 10px;
  border-radius: 20px;
}
.admin-container .right{
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 10px;
}
.admin-container .title button{
  background: var(--green);
  border: 0;
  color: #fff;
  padding: 10px 40px;
  font-family: "Poppins";
  border-radius: 30px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  font-size: large;
}

/* Registration Page */
.register-container .regs{
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 30px;
  justify-content: center;
  margin: 0px 250px
}
.register-container .title{
  display: flex;
  font-size: xx-large;
  font-weight: bold;
  justify-content: center;
  padding: 20px;
}
.register-container .regs{
  background-color: var(--grey);
  padding: 40px;
  border-radius: 20px;
}
.register-container .regs label{
  text-align: end;
  align-items: center;
  justify-content: center;
}
.register-container .regs input{
  margin: 0;
}
.register-container .title input{
  width: 20%;
  display: flex;
  background: var(--green);
  border: 0;
  color: #fff;
  padding: 10px 40px;
  font-family: "Poppins";
  border-radius: 30px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  font-size: large;
}

/* search */
.search .title{
  display: flex;
  font-size: xx-large;
  font-weight: bold;
  justify-content: center;
  padding: 20px;
}
.search .searchBar{
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
}
.search input{
  width: 40%;
  min-width: 100px;
  margin-top: 20px;
  padding: 10px;
  padding-left: 20px;
  border-radius: 20px;
}
.search button{
  background-color: var(--grey);
  border: 0;
  padding: 10px;
  border-radius: 20px;
}
.search button:hover{
  background-color: var(--blue);
}
.search .list-container{
  display: flex;
  justify-content: center;
}
.search .list-container .list{
  width:50%;
  text-align: center;
  background-color: var(--grey);
  padding: 20px;
  border-radius: 20px;
  height: 300px;
  margin: 20px;
}
.search .btn{
  display:flex;
  align-items: center;
  justify-content: center;
}
.search .btn button{
  width: 15%;
  display: flex;
  border: 0;
  color: #fff;
  padding: 10px 40px;
  font-family: "Poppins";
  border-radius: 30px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  font-size: large;
  margin: 20px;
}
.search .btn .submit{
  background: var(--green);
}
.search .btn .cancel{
  background: var(--error);
}

/* Face.js face detected list */
.face-container .title{
  display: flex;
  font-size: xx-large;
  font-weight: bold;
  justify-content: center;
  padding: 20px;
}
.face-container .btn{
  display:flex;
  align-items: center;
  justify-content: center;
}
.face-container .btn button{
  width: 15%;
  display: flex;
  border: 0;
  color: #fff;
  padding: 10px 40px;
  font-family: "Poppins";
  border-radius: 30px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  font-size: large;
  margin: 20px;
}
.face-container .btn .submit{
  background: var(--green);
}
.face-container .btn .cancel{
  background: var(--error);
}
.face-container .list-container{
  display: flex;
  justify-content: center;
}
.face-container .list-container .list{
  width:50%;
  text-align: center;
  background-color: var(--grey);
  padding: 20px;
  border-radius: 20px;
  height: 300px;
  margin: 20px;
}

/* Take Action */
.action-container .title{
  display: flex;
  font-size: xx-large;
  font-weight: bold;
  justify-content: center;
  padding: 20px;
}
.action-container .btn{
  display:flex;
  align-items: center;
  justify-content: center;
}
.action-container .btn button{
  width: 15%;
  display: flex;
  border: 0;
  color: #fff;
  padding: 10px 40px;
  font-family: "Poppins";
  border-radius: 30px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  font-size: large;
  margin: 20px;
}
.action-container .btn .submit{
  background: var(--green);
}
.action-container .btn .cancel{
  background: var(--error);
}
.action-container .list-container{
  display: grid;
  grid-template-columns: 5fr 4fr;
}
.action-container .list-container .list-left{
  display: flex;
  justify-content: center;
}
.action-container .list-container .list{
  width: 40rem;
  text-align: center;
  background-color: var(--grey);
  padding: 20px;
  border-radius: 20px;
  height: 300px;
  margin: 20px;
}
.action-container .list-container .list-right{
  display: flex;
  flex-direction: column;
}
.action-container .list-right .pic{
  width:80%;
  margin: 20px;
  padding: 10px;
  height: 10rem;
  background-color: var(--grey);
  display: flex;
  justify-content: center;
  align-items: center;
}
.penalties{
  margin: 20px;
  margin-top: 0;
  width: 80%;
  padding: 10px;
}
.penalties .title{
  font-size:large;
  font-weight:bold;
  padding: 0;
  margin-bottom: 10px;
}
.penalties .dropdown select{
  font-size: medium;
}
